.people-table {
  border: 1px solid black;
  border-collapse: collapse;
  box-sizing: border-box;
  width: 100vw;
}

.people-table__row {
  border: 1px solid black;
}

.people-table__cell {
  border: 1px solid black;
  width: 8.33vw;
}

.people-table__cell--wrong {
  border: 1px solid black;
  background-color: #ff000070;
  width: 8.33%;
}

.error {
  border: 3px solid #b60c0c;
  background-color: #ff000070;
  width: 30vw;
  margin: auto;
}
